body {
    font-family: 'Teko', sans-serif;
    font-weight: 300;
    color: #282831;
}

a {
    color: #375899;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

.section-title {
    h1 {
        font-size: 60px;
        color: #375899;
    }

    span {
        color: #F3944B;
    }

    p {
        font-size: 30px;
    }
}

.social-links {
    a {
        font-size: 24px;
        display: inline-block;
        line-height: 1;
        margin-right: 20px;
        transition: 0.3s;
    }
}


/* ========== Header and Navigation ========== */
#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9997;
    transition: all 0.5s;
    padding: 15px;
    overflow-y: auto;
}


/* ========== Navigation Menu ========== */
.nav-menu {
    * {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &>ul {
        &>li {
            position: relative;
            white-space: nowrap;
        }
    }

    a {
        display: flex;
        align-items: center;
        color: #375899;
        padding: 10px 18px;
        margin-bottom: 8px;
        transition: 0.3s;
        font-size: 15px;
        border-radius: 50px;
        background: #DFE8EB;
        height: 56px;
        width: 100%;
        overflow: hidden;
        transition: 0.3s;
        box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.16);

        i {
            font-size: 20px;
        }

        span {
            padding: 0 5px 0 7px;
            color: #375899;
            font-size: 18px;
        }
    }
}

.nav-menu a:hover,
.nav-menu .active>a,
.nav-menu li:hover>a {
    color: #FFFFFF;
    background: #375899;
}

.nav-menu a:hover span,
.nav-menu .active>a span,
.nav-menu li:hover>a span {
    color: #FFFFFF;
}

.nav-menu a:hover,
.nav-menu li:hover>a {
    width: 100%;
    color: #FFFFFF;
}

.nav-menu a:hover span,
.nav-menu li:hover>a span {
    display: block;
}

.mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9997;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;

    i {
        color: #375899;
    }
}

.mobile-nav-active {
    overflow: hidden;

    #header {
        left: 0;
    }

    .mobile-nav-toggle {
        i {
            color: #375899;
        }
    }
}


/* ========== Hero ========== */
#hero {
    width: 100%;
    height: 100vh;
    background-image: url("../img/hero_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

    &:before {
        height: 100vh;
        content: "";
        background: rgba(255, 255, 255, 0.8);
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        backdrop-filter: blur(8px);
        --webkit-backdrop-filter: blur(8px);
        overflow: hidden;
    }

    h1 {
        margin: 0;
        font-size: 100px;
        line-height: 56px;
        color: #375899;
    }

    p {
        color: #375899;
        margin: 15px 0 0 0;
        font-size: 26px;
    }

    p>span {
        color: #DAB855;
        letter-spacing: 1px;
    }

    .social-links {
        margin-top: 30px;

        a {
            color: #375899;

            &:hover {
                color: #DAB855;
            }
        }
    }

    .caption {
        padding-left: 10%;
        text-shadow: 1px 5px 10px rgba(0, 0, 0, 0.16);
        z-index: 1;
    }

    #bird {
        display: block;
        position: absolute;
        right: 0;
        // bottom: 0;
    }

    .hero-waves {
        display: block;
        width: 100%;
        height: 80px;
        position: absolute;
        bottom: 0;
        left: 0;
        overflow: hidden;

        .wave1 use {
            -webkit-animation: move-forever1 10s linear infinite;
            animation: move-forever1 10s linear infinite;
            -webkit-animation-delay: -2s;
            animation-delay: -2s;
        }

        .wave2 use {
            -webkit-animation: move-forever2 8s linear infinite;
            animation: move-forever2 8s linear infinite;
            -webkit-animation-delay: -2s;
            animation-delay: -2s;
        }

        .wave3 use {
            -webkit-animation: move-forever3 6s linear infinite;
            animation: move-forever3 6s linear infinite;
            -webkit-animation-delay: -2s;
            animation-delay: -2s;
        }
    }
}


/* ========== Keyframe Hero Wave ========== */
@-webkit-keyframes move-forever1 {
    0% {
        transform: translate(85px, 0%);
    }

    100% {
        transform: translate(-90px, 0%);
    }
}

@keyframes move-forever1 {
    0% {
        transform: translate(85px, 0%);
    }

    100% {
        transform: translate(-90px, 0%);
    }
}

@-webkit-keyframes move-forever2 {
    0% {
        transform: translate(-90px, 0%);
    }

    100% {
        transform: translate(85px, 0%);
    }
}

@keyframes move-forever2 {
    0% {
        transform: translate(-90px, 0%);
    }

    100% {
        transform: translate(85px, 0%);
    }
}

@-webkit-keyframes move-forever3 {
    0% {
        transform: translate(-90px, 0%);
    }

    100% {
        transform: translate(85px, 0%);
    }
}

@keyframes move-forever3 {
    0% {
        transform: translate(-90px, 0%);
    }

    100% {
        transform: translate(85px, 0%);
    }
}


/* ========== About ========== */
#about {
    background-color: #FAF2F1;
    padding: 10% 0 10% 0;
    margin-bottom: 5%;
    width: 100%;
    // min-height: 100vh;
    overflow: hidden;

    .right-content {
        h1 {
            font-family: "Playfair Display";
            font-size: 40px;
            text-align: left;
            margin-bottom: 5%;
        }

        h5 {
            font-size: 24px;
        }

        .say-hello {
            font-size: 24px;
            padding-right: 12%;

            .box {
                width: 220px;
                height: 40px;
                padding: 5px 5px 5px 15px;
                background-color: #dfe8eb;
                box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.16);
                margin-top: 20%;
            }
        }

        .say-work {
            font-size: 24px;
            color: #375899;
            padding-top: 7%;
            width: 272px;
            height: 299px;
            background-color: #eccb8c;

            .box {
                width: 220px;
                height: 40px;
                padding: 5px 5px 5px 15px;
                background-color: #dfe8eb;
                box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.16);
                margin-left: -50px;
                margin-top: 20px;
            }
        }
    }
}


/* ========== Expertise ========== */
#expertise {
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
    // min-height: 100vh;
    overflow-x: hidden;

    .icon-box {
        width: 100%;
        text-align: center;
        padding: 70px 20px 80px 20px;
        transition: all ease-in-out 0.3s;
        background: #fff;
        box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.05);

        &:hover {
            border-color: #fff;
            box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
        }

        .icon {
            margin: 0 auto;
            width: 100px;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: ease-in-out 0.3s;
            position: relative;

            i {
                font-size: 36px;
                transition: 0.5s;
                position: relative;
            }

            svg {
                position: absolute;
                top: 0;
                left: 0;

                path {
                    transition: 0.5s;
                    fill: #DFE8EB;
                }
            }
        }

        h4 {
            margin: 20px 0 15px 0;
            font-size: 30px;
            color: #DAB855;
            transition: 0.5s;
        }

        p {
            line-height: 24px;
            font-size: 20px;
            margin-bottom: 0;
        }
    }

    .icon-box.iconbox-orange {

        .icon {
            i {
                color: #F3944B;
            }
        }

        &:hover {
            .icon {
                i {
                    color: #FFFFFF;
                }

                path {
                    fill: #F3944B;
                }
            }

            h4 {
                color: #F3944B;
            }
        }
    }

    .icon-box.iconbox-blue {
        .icon {
            i {
                color: #375899;
            }
        }

        &:hover {
            .icon {
                i {
                    color: #FFFFFF;
                }

                path {
                    fill: #375899;
                }
            }

            h4 {
                color: #375899;
            }
        }
    }

    .icon-box.iconbox-red {
        .icon {
            i {
                color: #C4123B;
            }
        }

        &:hover {
            .icon {
                i {
                    color: #FFFFFF;
                }

                path {
                    fill: #C4123B;
                }
            }

            h4 {
                color: #C4123B;
            }
        }
    }
}


/* ========== Skills ========== */
#skills {
    padding-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    // min-height: 100vh;
    overflow-x: hidden;

    h4 {
        font-size: 20px;
        font-weight: 100;
    }

    p {
        font-size: 20px;
    }

    .left-content {
        padding-right: 10%;
        padding-bottom: 10%;
    }

    .right-content {
        padding-right: 10%;
        padding-bottom: 10%;
    }
}


/* ========== Journey ========== */
#journey {
    padding-top: 5%;
    width: 100%;
    // min-height: 100vh;
    overflow-x: hidden;

    h4 {
        font-size: 20px;
        font-weight: 100;
    }

    p {
        font-size: 20px;
    }

    .content {
        .left-content {
            padding-right: 10%;
            padding-bottom: 10%;
        }

        .right-content {
            padding-right: 10%;
            padding-bottom: 10%;
        }

        .card {
            margin-top: 20px;
            border-radius: 0;
            color: #FFFFFF;
            background-color: #375899;
            border: none;
            filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.1));

            span {
                color: #375899;
                background-color: #FFFFFF;
                width: 40%;
                filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.1));
            }

            .card-footer {
                color: #375899;
                background-color: #eccb8c;
                box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.16);
                height: 50px;

            }
        }
    }
}


/* ========== Footer ========== */
footer {
    width: 100%;
    min-height: 100vh;
    background-color: #375899;
    overflow: hidden;

    .section-title2 {
        h1 {
            color: #FFFFFF;
            font-size: 60px;
            font-weight: 500;
        }

        p {
            font-family: "Playfair Display";
            font-size: 20px;
            color: #FFFFFF;
            margin-bottom: 50px;
        }
    }

    .box {
        width: 220px;
        height: 40px;
        padding: 5px 5px 5px 15px;
        background-color: #ECCB8C;
        box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.16);
        color: #375899;
        font-size: 20px;
        text-align: left;
        margin-bottom: 50px;
    }

    .social-links {
        margin-bottom: 30px;

        a {
            color: #FFFFFF;

            &:hover {
                color: #DAB855;
            }
        }
    }
}


/* ========== Media Query ========== */
@media (max-width: 767px) {
    #header {
        width: 300px;
        background: #FFFFFF;
        border-right: 1px solid #e6e9ec;
        left: -300px;
        z-index: 9996;
    }

    #hero {
        h1 {
            font-size: 60px;
        }

        .hero-waves {
            visibility: hidden;
        }
    }

    #about {
        min-height: 100vh;

        .left-content {
            img {
                width: 200px;
                height: 300px;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }

        .right-content {
            h1 {
                text-align: center;
            }

            .say-hello {
                .box {
                    margin-bottom: 5%;
                }
            }

            .say-work {
                .box {
                    margin-left: 60px;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .nav-menu a {
        width: 56px;
    }

    .nav-menu a span {
        display: none;
    }
}